<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Sections Grid System</title>
		<link rel="stylesheet" type="text/css" media="handheld, screen" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 601px)" href="../css/sections.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 601px) and (max-width: 960px)" href="../css/sections-fluid.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../css/debug-sections.css" />
		<!-- style rel="stylesheet" type="text/css" media="screen">
			/* override default content padding */
			.content {
				padding: 10px;
			}
		</style -->
	</head>
	<body>
		<div class="page">
			<div class="site">
				<div class="site-branding area">
					<h2 class="site-name content">Site Name</h2>
				</div>
			</div>
			<div class="sections">
				<div class="area">
					<h1 class="content">Section Grids CSS</h1>
					<h2 class="content">4-Column Grid</h2>
					<div class="section">
						<div class="content">
							<p>content</p>
						</div>
					</div>
					<div class="section">
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection complex">
							<div class="content">
								<p>subsection complex</p>
							</div>
						</div>
						<div class="subsection complex">
							<div class="content">
								<p>subsection complex</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
					</div>
					
					<h2 class="content">3-Column Grid</h2>
					<div class="section thirds">
						<div class="content">
							<p>content</p>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<p>subsection compound</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection simple">
							<div class="content">
								<p>subsection simple</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<p>subsection fragment</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-info">
				<div class="attribution area">
					<p class="content">A grid system contributed by 
						<a href="http://symphony-cms.com/get-involved/member/czheng/">Craig Zheng</a> 
						and adapted for use in the 
						<a href="http://markuplibrary.org/">Markup Library</a> by 
						<a href="http://www.domain7.com/Team/StephenBau.html">Stephen Bau</a>.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>

