<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Sections Grid System</title>
		<link rel="stylesheet" media="handheld, screen" href="../css/base.css" />
		<link rel="stylesheet" media="screen and (min-width: 601px)" href="../css/sections.css" />
		<link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 960px)" href="../css/sections-fluid.css" />
		<!-- link rel="stylesheet" media="screen" href="../css/debug-page.css" / -->
		<link rel="stylesheet" media="screen" href="../css/debug-sections.css" />
		<style rel="stylesheet" media="screen">
			/* override default content padding */
			.content {
				padding: 10px;
			}
		</style>
	</head>
	<body class="page">
		<header>
			<div class="site-branding">
				<h2 class="site-name content">Site Name</h2>
			</div>
		</header>
		<section class="main">
			<h1 class="content">Section Grids CSS</h1>
			<h2 class="content">4-Column Grid</h2>
			<section>
				<article>
					<div class="content">
						<p class="content">article</p>
					</div>
				</article>
			</section>
			<section>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="complex">
					<div class="content">
						<p>.complex</p>
					</div>
				</article>
			</section>
			<section>
				<article class="complex">
					<div class="content">
						<p>.complex</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
			</section>
			<section>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
			</section>
			<section>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
			</section>
			<section>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
			</section>
			<section>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
			</section>
			<section>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
			</section>
			<section>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
			</section>
			
			<h2 class="content">3-Column Grid</h2>
			<section class="thirds">
				<article>
					<div class="content">
						<p>article</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
				<article class="compound">
					<div class="content">
						<p>.compound</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="simple">
					<div class="content">
						<p>.simple</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
				<article class="fragment">
					<div class="content">
						<p>.fragment</p>
					</div>
				</article>
			</section>
		</section>
		<footer>
			<div class="attribution">
				<p class="content">A grid system contributed by 
					<a href="http://symphony-cms.com/get-involved/member/czheng/">Craig Zheng</a> 
					and adapted for use in the 
					<a href="http://markuplibrary.org/">Markup Library</a> by 
					<a href="http://www.domain7.com/Team/StephenBau.html">Stephen Bau</a>.
				</p>
			</div>
		</footer>
	</body>
</html>

