/*
-----------------------------------------------
HTML5 Sections Grid CSS
-----------------------------------------------
Site Name
file:		css/text.css
author:		Stephen Bau
date:		2 July 2010
-----------------------------------------------
A grid system by Craig Zheng designed
for publicculture.org and symphony-cms.com.
Adapted by Stephen Bau.
-----------------------------------------------

1) the section element basically designates a 'row', within which any
number of article elements represent 'columns'
2) The 'column' widths are specified with another class: either
"fragment" "simple" "compound" or "complex" (semantic nomenclature I
borrowed right from English grammar).

So we end up with something like this:

	<div class="section">
		<div class="subsection simple">
		</div>
		<div class="subsection compound">
		</div>
		<div class="subsection simple">
		</div>
	</div>

Which gives you a half-width column in the middle with two
quarter-width columns on either side. Of course, you could dispense
with the DIVs if you don't need them and just apply those classes to
any other block-level elements. The CSS looks like this:

Using HTML5 elements, we can do something like this:

	<section>
		<article class="simple">
		</article>
		<article class="compound">
		</article>
		<article class="simple">
		</article>
	</section>



*/

.page {
	width: 960px;
	margin: 0 auto;
}

section,
.section {
	overflow: hidden;
	clear: both;
}
article,
.subsection {
	float: left;
	width: 100%;
}

/* 3-column grid */
.thirds .fragment {
	width: 160px;
}
.thirds .simple {
	width: 320px;
}
.thirds .compound {
	width: 640px;
}

/* 4-column grid (default) */
.fragment {
	width: 120px;
}
.simple {
	width: 240px;
}
.compound {
	width: 480px;
}
.complex {
	width: 720px;
}

/* 5-column grid */
.fifths .fragment {
	width: 96px;
}
.fifths .simple {
	width: 192px;
}
.fifths .compound {
	width: 384px;
}
.fifths .complex {
	width: 576px;
}
.fifths .compound-complex {
	width: 768px;
}
