<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Semantic Page Template</title>
		<link rel="stylesheet" type="text/css" media="handheld, screen" href="css/base.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 601px)" href="css/sections.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 601px) and (max-width: 960px)" href="css/sections-fluid.css" />
	</head>
	<body>
		<div class="page">
			<div class="site">
				<div class="site-branding area">
					<h2 class="site-name content">Site Name</h2>
				</div>
			</div>
			<div class="sections">
				<div class="area">
					<div class="main section">
						<div class="content">
							<h1>Page Title</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
						</div>
					</div>
					<div class="section fourths">
						<div class="content">
							<h2>Section Heading</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus.</p>
						</div>
						<div class="subsection compound">
							<div class="content">
								<h3>Subsection Heading</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
						<div class="subsection compound">
							<div class="content">
								<h3>Subsection Heading</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
					</div>
					<div class="section thirds">
						<div class="subsection">
							<div class="content">
								<h4>Content Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
								<div class="block">
									<h5>Block Heading</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus.</p>
									<div class="unit">
										<div class="head">
											<h6>Unit Heading</h6>
										</div>
										<div class="body">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
										</div>
										<div class="foot">
											<p>Etiam sit amet elit vitae arcu interdum ullamcorper.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection">
							<div class="content">
								<h4>Content Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
								<div class="block">
									<h5>Block Heading</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus.</p>
									<div class="unit">
										<div class="head">
											<h6>Unit Heading</h6>
										</div>
										<div class="body">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
										</div>
										<div class="foot">
											<p>Etiam sit amet elit vitae arcu interdum ullamcorper.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection">
							<div class="content">
								<h4>Content Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
								<div class="block">
									<h5>Block Heading</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus.</p>
									<div class="unit">
										<div class="head">
											<h6>Unit Heading</h6>
										</div>
										<div class="body">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
										</div>
										<div class="foot">
											<p>Etiam sit amet elit vitae arcu interdum ullamcorper.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="secondary section fourths">
						<div class="subsection">
							<div class="content">
								<h4>Subsection Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
						<div class="subsection">
							<div class="content">
								<h4>Subsection Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
						<div class="subsection">
							<div class="content">
								<h4>Subsection Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
						<div class="subsection">
							<div class="content">
								<h4>Subsection Heading</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
					</div>
					<div class="section overview fourths">
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
						<div class="subsection fragment">
							<div class="content">
								<h6>Heading</h6>
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="notes section">
						<div class="content">
							<div class="block">
								<h6>Notes</h6>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum. Phasellus in diam. Nam sapien ligula, consectetuer id, hendrerit in, cursus sed, leo. Nam tincidunt rhoncus urna. Aliquam id massa ut nibh bibendum imperdiet. Curabitur neque mauris, porta vel, lacinia quis, placerat ultrices, orci.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-info">
				<div class="attribution area">
					<p class="content">A page template contributed for use in the
						<a href="http://markuplibrary.org/">Markup Library</a> by
						<a href="http://www.domain7.com/Team/StephenBau.html">Stephen Bau</a>.
						A visual demonstration of the grid system can be viewed at
						<a href="grids/">markuplibrary.org/templates/grids/</a>.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>

